.advantages {
  position: relative;
  overflow: hidden;
}

.advantages__big-clouds {
  position: absolute;
  z-index: -1;
  top: -187px;
  left: -619px;

  @include vp-1199 {
    top: 80px;
  }

  @include vp-767 {
    display: none;
  }
}

.advantages__small-clouds {
  position: absolute;
  z-index: -1;
  top: 34px;
  right: -249px;

  @include vp-1199 {
    top: 656px;
    right: -68px;
  }

  @include vp-767 {
    display: none;
  }
}

.advantages__container {
  padding: 65px 0 81px;
  position: relative;
  overflow: hidden;

  @include vp-1199 {
    padding: 68px 0 45px;
  }

  @include vp-1024 {
    padding: 68px 0 45px;
  }

  @include vp-767 {
    padding: 48px 0 33px;
  }

  h2 {
    font-size: 35px;
    font-weight: 800;
    line-height: 100%;
    text-align: center;
    margin: 0 0 47px;

    @include vp-767 {
      font-size: 22px;
      line-height: 22px;
      margin: 0 0 20px;
    }
  }
}

.advantages__title-shadow {
  font-size: 55px;
  font-style: normal;
  font-weight: 800;
  line-height: 55px;
  color: #2d383f;
  opacity: 0.03;
  position: absolute;
  top: 48px;
  left: 34%;

  @include vp-1199 {
    top: 51px;
    left: 20%;
  }

  @include vp-767 {
    font-size: 26px;
    line-height: 26px;
    top: 44px;
    left: 19%;
  }
}

.advantages__swiper {
  margin: 0 auto 50px;
  padding: 0 120px;

  @include vp-1199 {
    padding: 0 45px;
    margin: 0 auto;
  }

  @include vp-767 {
    padding: 0 15px;
    margin: 0 auto 2px;
  }
}

.advantages__swiper-wrapper {
  @include vp-1199 {
    display: flex;
    flex-wrap: wrap;
    gap: 29px 30px;
  }

  @include vp-767 {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
}

.advantages__slide {
  display: flex;
  flex-direction: column;
  padding: 39px 19px;
  border: 1px solid var(--additional-20, rgba(2, 102, 193, 0.1));
  text-align: center;
  max-width: 380px;
  min-height: 329px;
  background-color: $color-default-white;

  @include vp-1199 {
    padding: 29px 19px;
    max-width: 452px;
    min-height: 274px;
  }

  @include vp-1023 {
    padding: 29px 19px;
    max-width: 324px;
    min-height: 340px;
  }


  @include vp-767 {
    padding: 20px 10px;
    max-width: 320px;
    min-height: 239px;
  }

  img {
    padding: 16px;
    border: 1px solid $color-default-blue;
    background-color: transparent;
    width: 54px;
    height: 55px;
    margin: 0 auto 29px;

    @include vp-1199 {
      padding: 11px;
      margin: 0 auto 27px;
      width: 48px;
      height: 48px;
    }

    @include vp-767 {
      width: 42px;
      height: 42px;
      padding: 8px;
      margin: 0 auto 18px;
    }
  }

  h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    margin: 0 0 15px;

    @include vp-1199 {
      font-size: 16px;
      line-height: 16px;
      margin: 0 0 14px;
    }

    @include vp-767 {
      font-size: 14px;
      line-height: 14px;
      margin: 0 0 15px;
    }
  }

  p {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    margin: 0;

    @include vp-767 {
      font-size: 12px;
      line-height: 18px;
    }
  }
}

.advantages__slide:last-child {

  @include vp-1199 {
    padding: 29px 19px;
    max-width: 380px;
    min-height: 296px;
    margin: 0 auto;
  }

  @include vp-1023 {
    margin: 0 auto;
    max-width: 380px;
    min-height: 290px;
    padding: 28px 18px 27px 17px;
  }

  @include vp-767 {
    max-width: 320px;
    min-height: 239px;
    padding: 20px 10px;
  }
}

.advantages__swiper-button-wrapper {
  display: flex;
  gap: 4px;
  justify-content: center;

  @include vp-1199 {
    display: none;
  }
}

.advantages__button-prev,
.advantages__button-next {
  font-size: 0;
  background-color: $color-default-blue;
  border: none;
  cursor: pointer;
  position: static;

  @include hover-focus {
    border: 1px solid #1c3374;
    background-color: transparent;
  }

  @include active {
    background-color: #1c3374;
  }

  @include disabled {
    cursor: not-allowed;
    pointer-events: none;
    outline: none;
    background-color: #999999;
  }

  svg {
    color: $color-default-white;

    @include hover-focus {
      color: #1c3374;
    }
  }
}

.advantages__button-next {
  transform: rotate(180deg);
}

.advantages__line-breaker-1 {
  display: block;

  @include vp-1199 {
    display: none;
  }

  @include vp-767 {
    display: block;
  }
}

.advantages__line-breaker-2 {
  display: block;

  @include vp-1199 {
    display: none;
  }

  @include vp-767 {
    display: block;
  }
}

.advantages__line-breaker-3 {
  display: block;

  @include vp-1199 {
    display: none;
  }

  @include vp-767 {
    display: block;
  }
}

.advantages__line-breaker-4 {
  display: none;

  @include vp-767 {
    display: block;
  }
}

.advantages__line-breaker-5 {
  display: none;

  @include vp-1023 {
    display: block;
  }

  @include vp-767 {
    display: none;
  }
}

.advantages__line-breaker-6 {
  display: block;

  @include vp-1199 {
    display: none;
  }

  @include vp-1024 {
    display: block;
  }
}

.advantages__line-breaker-7 {
  display: none;

  @include vp-1023 {
    display: block;
  }

  @include vp-767 {
    display: none;
  }
}

.advantages__title-breaker {
  display: none;

  @include vp-1199 {
    display: block;
  }
}
