.form {
  min-height: 760px;

  @include vp-1199 {
    min-height: 680px;
  }

  @include vp-767 {
    min-height: 620px;
  }
}

.form__container {
  position: relative;
  padding: 0;
  color: $color-default-white;
  text-align: center;

  @include vp-1199 {
    padding: 0;
  }

  @include vp-1024 {
    padding: 0;
  }

  @include vp-767 {
    padding: 0;
  }

  h2 {
    font-size: 35px;
    font-weight: 800;
    line-height: 100%;
    margin: 0 0 17px;
    padding: 298px 0 0;

    @include vp-1199 {
      font-size: 25px;
      line-height: 25px;
      padding: 187px 0 0;
      margin: 0 0 30px;
    }

    @include vp-767 {
      font-size: 22px;
      line-height: 22px;
      padding: 174px 0 0;
      margin: 0 0 19px;
    }
  }

  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 38px;

    @include vp-1199 {
      max-width: 300px;
      margin: 0 auto 25px;
    }

    @include vp-767 {
      font-size: 12px;
      line-height: 18px;
      margin: 0 auto 20px;
    }
  }

  img {
    position: absolute;
    z-index: -1;
    height: 760px;

    @include vp-1199 {
      height: 680px;
    }

    @include vp-767 {
      height: 620px;
    }
  }
}

.form__input-container {
  display: flex;
  gap: 30px;
  margin: 0 auto;
  justify-content: center;

  @include vp-1199 {
    flex-direction: column;
    align-items: center;
    gap: 11px;
  }

  @include vp-767 {
    gap: 8px;
  }
}

.form__input {
  input {
    padding: 19px 30px;
    width: 360px;
    min-height: 56px;
    border: none;

    @include vp-1199 {
      width: 270px;
      min-height: 50px;
      padding: 15px 17px;
    }

    @include vp-767 {
      width: 290px;
    }

    @include hover {
      outline: 1px solid $color-default-blue;
    }

    @include active {
      outline: 1px solid #1c3374;
    }

    @include focus {
      outline: 1px solid #1c3374;
    }

    @include disabled {
      cursor: not-allowed;
      pointer-events: none;
      outline: 1px solid rgba(2, 102, 193, 0.1);
    }
  }
}

input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  opacity: 0.5;
}

input:hover::placeholder {
  color: $color-default-blue;
  opacity: 1;
}

input:focus::placeholder,
input:active::placeholder {
  display: none;
}

input:disabled::placeholder {
  cursor: not-allowed;
  pointer-events: none;
  color: $color-default-blue;
  opacity: 0.5;
}

.form__button {
  width: 180px;
  min-height: 56px;
  padding: 19px 20px;
  background-color: #0266c1;
  color: $color-default-white;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  border: none;
  cursor: pointer;

  @include vp-1199 {
    width: 270px;
  }

  @include vp-767 {
    width: 290px;
    min-height: 58px;
    padding: 19px 21px;
  }

  @include hover-focus {
    border: 1px solid #1c3374;
    background-color: $color-default-white;
    color: #1c3374;
  }

  @include active {
    background-color: #1c3374;
  }

  @include disabled {
    background-color: #999999;
    cursor: not-allowed;
    pointer-events: none;
    outline: none;
  }
}
