.hero {
  position: relative;
  color: $color-default-white;
}

.hero__image-wrapper {
  position: absolute;
  z-index: -1;
  object-fit: cover;

  img {
    height: 800px;

    @include vp-1199 {
      height: 1024px;
    }

    @include vp-767 {
      height: 568px;
    }
  }
}

.hero__content-wrapper {
  padding: 200px 120px 80px;

  @include vp-1199 {
    padding: 212px 45px 487px 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @include vp-767 {
    padding: 140px 15px 99px;
  }

  h2 {
    font-size: 77px;
    font-weight: 800;
    line-height: 77px;
    font-style: normal;
    margin: 0 0 23px;
    width: 944px;
    z-index: 10;
    position: relative;

    @include vp-1199 {
      font-size: 56px;
      line-height: 56px;
      text-align: center;
      width: 678px;
      margin: 0 0 14px;
    }

    @include vp-767 {
      font-size: 26px;
      line-height: 26px;
      width: 332px;
      margin: 0 0 15px;
    }
  }

  p {
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 37px;
    width: 471px;

    @include vp-1199 {
      text-align: center;
      margin: 0 auto 25px;
      width: 472px;
    }

    @include vp-767 {
      font-size: 15px;
      line-height: 20px;
      width: 287px;
      margin: 0 auto 60px;
    }
  }
}

.hero__swiper {
  margin: 0 auto;
  max-width: 1440px;

  @include vp-1199 {
    max-width: 1199px;
  }
}

.hero__button {
  color: $color-default-white;
  background-color: $color-default-blue;
  padding: 20px;
  margin: 0 0 134px;
  border: none;
  min-width: 180px;
  height: 56px;
  cursor: pointer;

  @include vp-1199 {
    margin: 0 auto 46px;
  }

  @include hover-focus {
    border: 1px solid #1c3374;
    background-color: $color-default-white;
    color: #1c3374;
  }

  @include active {
    background-color: #1c3374;
  }

  @include disabled {
    background-color: #999999;
    cursor: not-allowed;
    pointer-events: none;
    outline: none;
  }
}

.hero__details {
  display: flex;
  gap: 10px;

  @include vp-1199 {
    display: none;
  }
}

.hero__duration,
.hero__complexity {
  color: $color-default-white;
  padding: 14px 20px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  height: 44px;

  svg {
    margin: 0 8px 0 0;
  }
}

.hero__complexity {
  svg {
    margin: 0 5px 0 0;
  }
}

.hero__slide {
  position: relative;

  @include vp-1199 {
    display: flex;
    flex-direction: column;
  }
}

.hero__iframe-wrapper {
  position: absolute;
  right: 120px;
  bottom: 154px;
  z-index: 2;

  @include vp-1199 {
    width: 442px;
    height: 300px;
    right: 163px;
    bottom: 187px;
  }

  @include vp-767 {
    display: none;
  }
}

.hero__iframe-link img {
  @include vp-1199 {
    width: 442px;
    height: 300px;
  }
}

.hero__iframe-button {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 1px solid $color-default-white;
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  cursor: pointer;
  font-size: 0;

  @include hover-focus {
    border: 1px solid #1c3374;
  }

  @include active {
    border: 1px solid #1c3374;
    background-color: #1c3374;
  }

  @include disabled {
    border: 1px solid #0266c1;
    background-color: transparent;
    cursor: not-allowed;
    pointer-events: none;
    outline: none;
  }

  &::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 11px 0 11px 12px;
    border-color: transparent transparent transparent $color-default-white;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    z-index: 5;
    transition: border-color 0.3s ease;
  }
}

.hero__iframe-button:hover::after {
  border-color: transparent transparent transparent $color-default-black;
}

.hero__iframe-button:focus::after {
  border-color: transparent transparent transparent $color-default-black;
}

.hero_iframer-button:disabled::after {
  border-color: transparent transparent transparent #0266c1;
  cursor: not-allowed;
  pointer-events: none;
  outline: none;
}

.hero__pagination {
  position: absolute;
  display: flex;
  gap: 12px;
  left: 86.5%;
  bottom: 97px;
  cursor: pointer;

  @include vp-1199 {
    padding: 40px 0;
    gap: 11px;
    left: 45%;
    bottom: 0;
  }

  @include vp-767 {
    display: none;
  }
}

.hero__photo-container-1 {
  position: absolute;
  right: 222px;
  bottom: 206px;

  @include vp-1199 {
    width: 266px;
    height: 351px;
    right: 339px;
    bottom: 136px;
  }

  @include vp-767 {
    display: none;
  }
}

.hero__photo-container-2 {
  position: absolute;
  right: 120px;
  bottom: 154px;

  @include vp-1199 {
    width: 236px;
    height: 312px;
    right: 163px;
    bottom: 122px;
  }

  @include vp-767 {
    display: none;
  }
}

.hero__iframe {
  width: 482px;
  height: 317px;
  border: none;
  z-index: -1;
}

.hero__vidget-wrapper {
  position: absolute;
  right: 120px;
  bottom: 154px;
  z-index: 4;

  @include vp-1199 {
    right: 214px;
    bottom: 267px;
  }

  @include vp-767 {
    display: none;
  }

  iframe {
    display: none;
  }
}

.hero__vidget-button {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  border: 1px solid #1c3374;
  background-color: #1c3374;
  position: absolute;
  top: 71%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 6;
  cursor: pointer;
  font-size: 0;

  &::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-radius: 4px;
    border-width: 11px 0 11px 12px;
    border-color: transparent transparent transparent $color-default-white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
  }
}

.hero__audio-iframe {
  width: 482px;
  height: 317px;
  border: none;
  z-index: -1;
}

.hero__line-breaker {

  @include vp-1199 {
    display: none;
  }
}
