.socials {
  width: 123px;
  min-height: 30px;
  margin: 0 auto 17px;

  @include vp-1199 {
    margin: 0 auto 30px;
  }

  @include vp-767 {
    margin: 0 auto 17px;
  }
}

.socials__list {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  min-height: 30px;
}
.socials__item {

}
.socials__link {

}
