.socials {
  width: 124px;
  min-height: 30px;
  margin: 16px auto 21px;

  @include vp-1199 {
    margin: 21px auto 33px;
  }

  @include vp-767 {
    margin: 21px auto;
  }
}

.socials__list {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  min-height: 30px;
}

.socials__link {
  cursor: pointer;
  display: block;
  width: 30px;
  height: 30px;
  background-color: $color-default-white;
  border: 1px solid rgb(45, 56, 63, 0.2);

  @include hover-focus {
    border: 1px solid $color-default-black;
  }

  @include active {
    background-color: $color-default-blue;
    color: $color-default-white;
  }

  @include disabled {
    cursor: not-allowed;
    pointer-events: none;
    outline: none;
    color: rgb(45, 56, 63, 0.3);
    border: 1px solid rgb(45, 56, 63, 0.3);
    opacity: 0.3;
  }
}
