.tours {
  h2 {
    font-size: 35px;
    font-weight: 800;
    line-height: 100%;
    padding: 123px 0 0;
    margin: 0 0 50px;

    @include vp-1199 {
      padding: 68px 0 0;
      margin: 0 0 22px;
    }

    @include vp-767 {
      font-size: 22px;
      line-height: 22px;
      padding: 56px 0 0;
    }
  }
}

.tours__title-shadow {
  font-size: 55px;
  font-style: normal;
  font-weight: 800;
  line-height: 55px;
  color: #2d383f;
  opacity: 0.03;
  position: absolute;
  top: 106px;
  left: 120px;

  @include vp-1199 {
    top: 50px;
    left: 45px;
  }

  @include vp-767 {
    left: 15px;
    top: 28px;
    max-width: 200px;
    overflow: hidden;
  }
}

.tours__container {
  position: relative;
  padding-bottom: 100px;

  @include vp-767 {
    padding-bottom: 34px;
  }
}

.tours__swiper-button-wrapper {
  position: absolute;
  right: 120px;
  top: 120px;
  display: flex;
  gap: 4px;

  @include vp-1199 {
    right: 45px;
    top: 65px;
  }

  @include vp-767 {
    right: 15px;
    top: 40px;
  }
}

.tours__button-prev,
.tours__button-next {
  font-size: 0;
  background-color: $color-default-blue;
  border: none;
  cursor: pointer;

  @include hover-focus {
    border: 1px solid #1c3374;
    background-color: transparent;
  }

  @include active {
    background-color: #1c3374;
  }

  @include disabled {
    background-color: #999999;
  }

  svg {
    color: $color-default-white;

    @include hover-focus {
      color: #1c3374;
    }
  }
}

.tours__button-prev {
  left: -79px;
}

.tours__button-next {
  transform: rotate(180deg);
  right: 0;
}

.tours__swiper {
  margin: 0 0 63px;

  @include vp-1199 {
    margin: 0 0 36px;
  }

  @include vp-767 {
    margin: 0 0 34px;
  }
}

.tours__slide {
  position: relative;
}

.tours__image-container {
  object-fit: cover;

  img {
    width: 380px;
    height: 416px;

    @include vp-1199 {
      width: 330px;
    }
  }
}

.tours__content-wrapper {
  position: absolute;
  z-index: 1;
  bottom: 28px;
  left: 20px;
  color: $color-default-white;
  width: 340px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;

  @include vp-1199 {
    width: 289px;
  }

  @include vp-767 {
    width: 279px;
  }
}

.tours__location {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
  padding: 6px 12px;
  background-color: $color-default-blue;
  gap: 6px;
}

.tours__count-wrapper {
  display: flex;
  gap: 14px;
}

.tours__count {
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.tours__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin: 1px 0 15px;
  width: 265px;
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 80px;
    height: 1px;
    background-color: $color-default-white;
    opacity: 0.2;
    bottom: -15px;
  }
}
.tours__details-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.tours__details {
  display: flex;
  flex-direction: column;
  gap: 7px;

  &--stars-count {
    gap: 4px;
  }
}
.tours__details-title {
  font-size: 12px;
  font-weight: 300;
  line-height: 12px;
}
.tours__description {
  font-size: 13px;
  font-weight: 700;
  line-height: 13px;
}

.tours__button {
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.64px;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  gap: 9px;
  margin: 0 auto;
  padding: 0;
  text-align: center;

  @include vp-767 {
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0.56px;
  }
}
