.tours {
  h2 {
    font-size: 55px;
    font-weight: 800;
    line-height: 55px;
    padding: 100px 0 0;
    margin: 0 0 53px;
  }
}

.tours__container {
  position: relative;
}

.tours__button-prev {
}

.tours__button-next {
}

.tours__swiper {
}

.tours__swiper-wrapper {
}

.tours__slide {
  position: relative;
}

.tours__content-wrapper {
  z-index: 1;
}
.tours__location {
}
.tours__count-wrapper {
}
.tours__count {
}
.tours__title {
}
.tours__details-wrapper {
}
.tours__details {
}
.tours__details-title {
}
.tours__description {
}
