/* montserrat-300 - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/montserrat-300.woff2") format("woff2");
}
/* montserrat-400 - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-400.woff2") format("woff2");
}
/* montserrat-500 - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-500.woff2") format("woff2");
}
/* montserrat-600 - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-600.woff2") format("woff2");
}
/* montserrat-700 - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-700.woff2") format("woff2");
}
/* montserrat-800 - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/montserrat-800.woff2") format("woff2");
}
